<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block htitle %}{{ 'site.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <!-- Latest compiled and minified CSS -->
    <!-- version 3.3.6 -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <!-- hamburger style button for mobile -->
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'site.title'|trans }}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('homepage') }}">{{ 'site.link1'|trans }}</a></li>
                    <li><a href="{{ path('homepage') }}">{{ 'site.link1'|trans }}</a></li>
                    <li><a href="{{ path('homepage') }}">{{ 'site.link2'|trans }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <p class="navbar-text">{{ 'site.logged_in_as'|trans }} {{ app.user.username }}</p>
                        <li><a href="{{ path('anecdote_list') }}">{{ 'anecdotes'|trans }}</a></li>
                        <li><a href="{{ path('security_logout') }}">{{ 'action.logout'|trans }}</a></li>
                    {% else %}
                        <li><a href="{{ path('security_login_form') }}">{{ 'action.login'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </nav>

    <div class="container-fluid">

        {% block body %}{% endblock %}

        <hr>
        <footer>
            <p>{{ 'footer.power_by'|trans }} <a href="https://symfony.com/">Symfony</a> - {{ 'now'|date('Y') }}.</p>
        </footer>

    </div>

    {% block javascripts %}{% endblock %}

    <script src="{{ asset('js/jquery-2.2.2.min.js') }}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>

</html>
