{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div id="content" class="col-md-9">

            {% for anecdote in anecdotes %}
                <div class="panel panel-default">
                    {% if anecdote.category is not null %}
                        <div class="panel-heading">
                            {{ anecdote.category.name }}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="pull-right btn btn-xs btn-default" href="{{ path('anecdote_edit', {id: anecdote.id}) }}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    {{ 'action.edit'|trans }}
                                </a>
                                <a class="pull-right btn btn-xs btn-danger" href="{{ path('anecdote_delete', {id: anecdote.id}) }}">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    {{ 'action.delete'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="panel-body">
                        {{ anecdote.description|nl2br }}
                    </div>
                    <div class="panel-footer">{% if anecdote.nickname is not null %}{{ anecdote.nickname }}{% else %}Anonymous{% endif %} le {{ anecdote.created|date("m/d/Y") }}</div>
                </div>
            {% else %}
                Aucune anecdote
            {% endfor %}

        </div>

        <div id="content" class="col-md-3">

            {{ render(controller('AppBundle:Anecdote:categories')) }}

        </div>
    </div>

{% endblock %}
