{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div id="menu" class="col-md-2">
            <h3>{{ 'navigation'|trans }}</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('homepage') }}">{{ 'home'|trans }}</a></li>
                <li><a href="{{ path('anecdote_list') }}">{{ 'anecdotes'|trans }}</a></li>
                <li><a href="{{ path('anecdote_add') }}">{{ 'action.anecdote.add'|trans }}</a></li>
                <li><a href="{{ path('core_contact') }}">{{ 'contact_us'|trans }}</a></li>
            </ul>

        </div>
        <div id="content" class="col-md-10">

            {# Global display of flash messages to avoid doing it in every template #}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-warning">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <!-- end flash -->

            {% block content %}
            {% endblock %}

        </div>
    </div>

{% endblock %}
