{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ 'anecdote.title.list'|trans }}</h1>

    {% if anecdotes %}

        <table class="table">

            <thead>
                <tr>
                    <th>{{ 'label.id'|trans }}</th>
                    <th>{{ 'label.description'|trans }}</th>
                    <th>{{ 'label.category'|trans }}</th>
                    <th>{{ 'label.created'|trans }}</th>
                    <th>{{ 'label.nickname'|trans }}</th>
                    <th>{{ 'label.email'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for anecdote in anecdotes %}
                <tr>
                    <td>
                        <a href="{{ path('anecdote_view', {'id': anecdote.id}) }}">{{ anecdote.id }}</a>
                    </td>
                    <td>
                        {{ anecdote.description|nl2br }}
                    </td>
                    <td>
                        {% if anecdote.category is not null %}
                            {{ anecdote.category.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if anecdote.created is not null %}
                            {{ anecdote.created|date("m/d/Y") }}
                        {% endif %}
                    </td>                    
                    <td>
                        {% if anecdote.nickname is not null %}
                            {{ anecdote.nickname }}
                        {% endif %}
                    </td>
                    <td>
                        {% if anecdote.email is not null %}
                            {{ anecdote.email }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('anecdote_edit', {'id': anecdote.id}) }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'action.edit'|trans }}
                        </a>

                        <a href="{{ path('anecdote_delete', {'id': anecdote.id}) }}" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(anecdotes) }}
        </div>

    {% else %}

        <p>Aucune anecdote</p>

    {% endif %}

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
