{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}


    <div class="container">

        <form class="form-signin" action="{{ path('security_login_check') }}" method="post">
            <h2 class="form-signin-heading"><i class="fa fa-lock"></i> {{ 'title.login'|trans }}</h2>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'label.username'|trans }}" class="form-control"/>
            <input type="password" id="password" name="_password" placeholder="{{ 'label.password'|trans }}" class="form-control" />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                <i class="fa fa-sign-in"></i> {{ 'action.sign_in'|trans }}
            </button>
        </form>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
